"\Memory\Available MBytes"
"\Memory\Pool Nonpaged Bytes"
"\Memory\Pool Paged Bytes"
"\Network Interface(*)\Output Queue Length"
"\Network Interface(*)\Current Bandwidth"
"\Network Interface(*)\Bytes Received/sec"
"\Network Interface(*)\Bytes Sent/sec"
"\PhysicalDisk(*)\Current Disk Queue Length"
"\PhysicalDisk(*)\Disk Reads/sec"
"\PhysicalDisk(*)\Disk Read Bytes/sec"
"\PhysicalDisk(*)\Disk Writes/sec"
"\PhysicalDisk(*)\Disk Write Bytes/sec"
"\Process(*)\% Processor Time"
"\Process(*)\Private Bytes"
"\Process(*)\Virtual Bytes"
"\Processor(_Total)\% Processor Time"
"\Server\Pool NonPaged Bytes"
"\Server\Pool Paged Bytes"
"\System\Processor Queue Length"